- var siteTitle = "劳动保障监察法律法规"

mixin search()
	.input(autocomplete="off")
		input(type="text" placeholder="查找全部" onInput="searchInput(this.value)").text
		input(type="submit" value="➡️").icon
		.search-result

doctype html
html(lang='zh')
	block frontmatter
	head 
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title #{title}
		link(rel='icon' href=`${baseUrl}/assets/images/favicon.png` sizes='any')
		link(rel='stylesheet' href=`${baseUrl}/assets/css/main.css`)
		script(src="https://cdn.jsdelivr.net/npm/minisearch@7.1.1/dist/umd/index.min.js")
		
	body
		if type != "homepage"
			nav
				a(href=baseUrl)= siteTitle
				+search()

		header
			h1= title
			if type == "homepage"
				+search()
		main
			block content
		script
			include ../_js/search.js
